<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guillemsoft.login"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.guillemsoft.login.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.guillemsoft.login.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="com.guillemsoft.login.NuevoContactoActivity"
            android:label="@string/title_activity_nuevo_contacto" >
        </activity>
        <activity
            android:name="com.guillemsoft.login.ListarContactosActivity"
            android:label="@string/title_activity_listar_contactos" >
        </activity>
        <activity
            android:name="com.guillemsoft.login.EditarContactoActivity"
            android:label="@string/title_activity_editar_contacto" >
        </activity>
    </application>

</manifest>
